<launch>

	<arg name="mav_name" default="$(env ROS_NAMESPACE)" /> 
  <arg name="log_output" default="screen"/>

  <arg name="qmdp" default="false" doc="false for apf_mode"/>

	<arg name="fore_cam_name" default="$(env TOF_FORE_NAME)"/>
	<arg name="up_cam_name" default="$(env TOF_UP_NAME)"/>
	<arg name="down_cam_name" default="$(env TOF_DOWN_NAME)"/>
	
	<arg name="launch_filter_point_fore" default="true"/>
	<arg name="launch_filter_point_up" default="false"/>
	<arg name="launch_filter_point_down" default="false"/>

  <arg name="launch_depth_to_cloud" default="true"/>

	<arg name="launch_depth_noiser" default="false"/>
	
	<arg name="launch_filter_point_control" default="false"/>
	
	<arg name="imu_frame" value="$(arg mav_name)/imu_link"/>
	<arg name="base_frame" value="$(arg mav_name)/base_link"/>
	<arg name="world_frame" value="$(arg mav_name)/odom"/>

	<!-- .................................................... -->

  <group if="$(arg launch_filter_point_fore)" ns="$(arg fore_cam_name)">
	<node name="filter_point" pkg="apf_pf" type="filter_point_node" output="$(arg log_output)" clear_params="true">
			
		<remap from="~/pt_cloud_in" to="depth/points"/>
		<remap from="~/cam_info_in" to="depth/camera_info"/>
			
		<remap from="~/viz_out" to="filter_point/viz_out"/>
		<remap from="~/pt_out" to="filter_point/closest_point_filtered"/>
		<remap from="~/pt_piv_out" to="filter_point/closest_point_raw"/>
		<remap from="~/twist_out" to="filter_point/rep_vec_out"/>
			
		<rosparam unless="$(arg qmdp)" command="load" file="$(find apf_pf)/configs/static_cable_apf_acc.yaml" subst_value="true"/>
    <rosparam if="$(arg qmdp)" command="load" file="$(find apf_pf)/configs/qmdp_ral.yaml" subst_value="true"/>
		<param name="base_frame_id" type="string" value="$(arg base_frame)"/>
				
	</node>

	<node unless="$(arg qmdp)" name="relay" pkg="topic_tools" type="relay"
		args="filter_point/force_out /$(arg mav_name)/filter_point_control/rep_vec_in"/>
  <node if="$(arg qmdp)" name="relay" pkg="topic_tools" type="relay"
		args="filter_point/rep_vec_out /$(arg mav_name)/filter_point_control/rep_vec_in"/>

  <include if="$(arg launch_depth_to_cloud)" file="$(find apf_pf)/launch/depth_to_cloud.launch">
   <arg name="cam_info_topic" value="depth/camera_info"/>
   <arg unless="$(arg launch_depth_noiser)" name="depth_img_topic" value="depth/image_rect_raw"/>
   <arg if="$(arg launch_depth_noiser)" name="depth_img_topic" value="depth/image_rect_raw_noisy"/>
   <arg name="pt_cloud_topic" value="depth/points"/>
  </include>
  </group>

	<!-- .................................................... -->
  <group if="$(arg launch_filter_point_up)" ns="$(arg up_cam_name)">
  <node name="filter_point" pkg="apf_pf" type="filter_point_node" output="$(arg log_output)" clear_params="true">

    <remap from="~/pt_cloud_in" to="stream/1/cloud"/>
    <remap from="~/cam_info_in" to="stream/1/camera_info"/>

    <remap from="~/viz_out" to="filter_point/viz_out"/>
    <remap from="~/pt_out" to="filter_point/closest_point_filtered"/>
    <remap from="~/pt_piv_out" to="filter_point/closest_point_raw"/>
    <remap from="~/twist_out" to="filter_point/rep_vec_out"/>
    
    <rosparam unless="$(arg qmdp)" command="load" file="$(find apf_pf)/configs/apf_acc.yaml" subst_value="true"/>
    <rosparam if="$(arg qmdp)" command="load" file="$(find apf_pf)/configs/qmdp_ral.yaml" subst_value="true"/>
		<param name="base_frame_id" type="string" value="$(arg base_frame)"/>

  </node>

	<node unless="$(arg qmdp)" name="relay" pkg="topic_tools" type="relay"
    args="filter_point/force_out /$(arg mav_name)/filter_point_control/rep_vec_in"/>
  <node if="$(arg qmdp)" name="relay" pkg="topic_tools" type="relay"
    args="filter_point/rep_vec_out /$(arg mav_name)/filter_point_control/rep_vec_in"/>
  </group>

	<!-- .................................................... -->
  <group if="$(arg launch_filter_point_down)" ns="$(arg down_cam_name)">
  <node name="filter_point" pkg="apf_pf" type="filter_point_node" output="$(arg log_output)" clear_params="true">

    <remap from="~/pt_cloud_in" to="stream/1/cloud"/>
    <remap from="~/cam_info_in" to="stream/1/camera_info"/>

    <remap from="~/viz_out" to="filter_point/viz_out"/>
    <remap from="~/pt_out" to="filter_point/closest_point_filtered"/>
    <remap from="~/pt_piv_out" to="filter_point/closest_point_raw"/>
    <remap from="~/twist_out" to="filter_point/rep_vec_out"/>

    <rosparam unless="$(arg qmdp)" command="load" file="$(find apf_pf)/configs/apf_acc.yaml" subst_value="true"/>
    <rosparam if="$(arg qmdp)" command="load" file="$(find apf_pf)/configs/qmdp_ral.yaml" subst_value="true"/>
		<param name="base_frame_id" type="string" value="$(arg base_frame)"/>

  </node>

  <node unless="$(arg qmdp)" name="relay" pkg="topic_tools" type="relay"
    args="filter_point/force_out /$(arg mav_name)/filter_point_control/rep_vec_in"/>
  <node if="$(arg qmdp)" name="relay" pkg="topic_tools" type="relay"
    args="filter_point/rep_vec_out /$(arg mav_name)/filter_point_control/rep_vec_in"/>
  </group>

	<!-- .................................................... -->
  <node name="depth_noiser" if="$(arg launch_depth_noiser)" ns="$(env TOF_FORE_NAME)" pkg="depth_noiser" type="depth_noiser_node" output="$(arg log_output)" clear_params="true">

    <remap from="~/depth_image" to="depth/image_rect_raw"/>
    <remap from="~/noised_depth" to="depth/image_rect_raw_noisy"/>

    <param name="constant_noise" value="0.2"/>
    <param name="linear_noise" value="0.000"/>
    <param name="quadratic_noise" value="0.000"/>
    
    <param name="z_max_for_noise_addition" value="1"/>
    <param name="z_min_for_noise_addition" value="0.1"/>
    <param name="pixel_interval_for_noise_addition" value="500"/>

    <param name="depth_units" value="mm"/> <!-- "mm", "m" -->

  </node>

	<!-- .................................................... -->
	<node if="$(arg launch_filter_point_control)" name="filter_point_control" pkg="apf_pf" type="goal_to_vel_node" output="$(arg log_output)" clear_params="true">
    <rosparam unless="$(arg qmdp)" command="load" file="$(find apf_pf)/configs/apfc_acc.yaml" subst_value="true"/>
    <rosparam if="$(arg qmdp)" command="load" file="$(find apf_pf)/configs/qmdpc_ral.yaml" subst_value="true"/>
		<param name="pose_frame_id" value="$(arg world_frame)"/>
			
		<remap from="~/pose_in" to="mavros/local_position/pose"/>
			
		<remap from="~/goal_pt_in" to="lookahead_point"/>	
		<remap from="~/rep_vec_in" to="filter_point_control/rep_vec_in"/>

		<remap from="~/twist_out" to="drone_pose/twist_set_in"/>
	</node>

	<!-- .................................................... -->
	
</launch>
