<launch>
  <arg name="cam_info_topic" default="depth/camera_info"/>
  <arg name="depth_img_topic" default="depth/image_rect_raw"/>
  <arg name="pt_cloud_topic" default="depth/points"/>

	<node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>
	<node pkg="nodelet" type="nodelet" name="depth_to_point" args="standalone depth_image_proc/point_cloud_xyz">

    <remap from="camera_info" to="$(arg cam_info_topic)"/>
		<remap from="image_rect" to="$(arg depth_img_topic)"/>
    <remap from="points" to="$(arg pt_cloud_topic)"/>
  </node>
</launch>
