<launch>
  <arg name="mav_name" default="$(env ROS_NAMESPACE)"/>
  <arg name="tof_fore_name" default="$(env TOF_FORE_NAME)"/>

	<node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>
	<node ns="$(arg tof_fore_name)" pkg="nodelet" type="nodelet" name="depth_to_point_tof_fore" args="standalone depth_image_proc/point_cloud_xyz">

    <remap from="camera_info" to="depth/camera_info"/>
		<remap from="image_rect" to="depth/image_rect_raw"/>
  </node>
</launch>
