<launch>

<include file="$(find local_planning)/launch/camera_driver.launch"/>

<group ns="pico">
	<node name="filter_point_node" pkg="local_planning" type="filter_point_node" output="screen" clear_params="true">
	
		<remap from="filter_point_node/pt_cloud_in" to="noise_cloud_node/pt_cloud_out"/>
		<remap from="filter_point_node/pt_cloud_viz" to="filter_point_node/pt_cloud_viz"/>
		<remap from="filter_point_node/pt_out" to="filter_point_node/pt_out"/>
		
		<param name="distance_interval" type="double" value="0.15"/>
		<param name="pixel_interval" type="int" value="25"/>
		<param name="min_distance" type="double" value="0.05"/>
		<param name="max_distance" type="double" value="1.2"/>
		<param name="n_particles" type="int" value="50000"/>
		<param name="outliers_per_voxel" type="int" value="20"/>
		
	</node>
	<node name="noise_cloud_node" pkg="local_planning" type="noise_cloud_node" output="screen">
	
		<remap from="noise_cloud_node/pt_cloud_in" to="/royale_camera_driver/point_cloud"/>
		
	</node>
</group>
	
</launch>
