<launch>

	<arg name="launch_filter_point" default="true"/>
	<arg name="launch_noise_cloud" default="false"/>
	
	<arg name="launch_goal_to_vel" default="false"/>
	<arg name="publish_dummy_transforms" default="true"/>
	
	<arg name="imu_frame" value="imu_link"/>
	<arg name="base_frame" value="base_link"/>

	<!-- .................................................... -->
	
	<node ns="iris" if="$(arg launch_filter_point)" name="filter_point_node" pkg="local_planning" type="filter_point_node" output="screen">
		
		<remap from="filter_point_node/pt_cloud_in" to="vi_sensor/camera_depth/depth/points"/>
		<remap from="filter_point_node/cam_info_in" to="vi_sensor/camera_depth/depth/camera_info"/>
		<remap from="filter_point_node/pt_cloud_viz" to="filter_point_node/pt_cloud_viz"/>
		<remap from="filter_point_node/pt_out" to="filter_point_node/pt_out"/>
		
		<rosparam command="load" file="$(find local_planning)/configs/fore_cam_fp.yaml" subst_value="true"/>
		<param name="base_frame_id" type="string" value="$(arg base_frame)"/>
			
	</node>

	<!-- .................................................... -->

	<node if="$(arg launch_noise_cloud)" name="noise_cloud_node" pkg="local_planning" type="noise_cloud_node" output="screen">
		
		<remap from="noise_cloud_node/pt_cloud_in" to="/royale_camera_driver/point_cloud"/>
			
	</node>

	<!-- .................................................... -->

	<node if="$(arg launch_goal_to_vel)" name="goal_to_vel_node" pkg="drone_pose" type="goal_to_vel_node" output="screen">
		<param name="publish_rate" value="10"/>
		<param name="max_yaw" value="1.00"/>
		<param name="merge_output_vectors" value="true"/>
		<param name="holonomic" value="false"/>
		<param name="yaw_err_bound_nonzero_fore_vel_in_rad" value="1.57"/>
		<param name="base_frame_id" value="$(arg base_frame)"/>
		<param name="imuFrameId_" value="$(arg imu_frame)"/>
			
		<remap from="goal_to_vel_node/imu_in" to="goal_to_vel_node/imu_in"/>
			
		<remap from="goal_to_vel_node/goal_pt_in" to="goal_to_vel_node/goal_pt_in"/>	
		<remap from="goal_to_vel_node/rep_vel_in" to="goal_to_vel_node/rep_vel_in"/>

		<remap from="goal_to_vel_node/att_vel_out" to="goal_to_vel_node/att_vel_out"/>
		<remap from="goal_to_vel_node/rep_vel_out" to="goal_to_vel_node/rep_vel_out"/>
	</node>

	<!-- .................................................... -->

	<group if="$(arg publish_dummy_transforms)">
		<node pkg="tf2_ros" type="static_transform_publisher" name="world2odom" args="0 0 0 0 0 0 iris/vi_sensor/camera_depth_optical_center_link base_link"/>

		<!--node pkg="tf2_ros" type="static_transform_publisher" name="cam2base" args="0 0 0 -1.57 0 -1.57 iris/vi_sensor/camera_depth_optical_center_link base_link " /-->
	</group>
	
</launch>
